.holder {
  background-image: url(../img/frangipani.png);

  &.sleep {
    background-image: url(../img/frangipani.png);
  }
  background-position: bottom right;
  background-repeat: no-repeat;

  .slider-arrows {
    top: 225px;
    opacity: 0.5;
  }
}

.holder-slider {

  &__head {
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;

  }

  &__descr {
    padding: 160px 0 0 132px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: right center;
    margin-top: -230px;
    background-size: contain;
    .descr__head {
      position: relative;
      padding-right: 78px;

      &.descr__head-sleep {
        padding-right: 260px;
      }
      
      img {
        padding-left: 20px;
        position: absolute;
        right: 0;
        top: 0;
      }

      .holder__star-list {
        position: absolute;
        right: 0;
        top: 0;
        img {
          position: static;
        }
      }
    }
  }

  &__subtitle {
    text-align: right;
    padding: 132px 80px 0 0;
  }

  &__btn {
    text-align: center;
  }
}

.holder-slider {
  &__info {
    display: flex;
    justify-content: space-around;

    &-item {
      min-height: 200px;
      margin-bottom: 66px;
      position: relative;
    }

    &-subtitle {
      position: absolute;
      line-height: 22px;
      text-align: right;
      letter-spacing: 8px;
      opacity: 0.5;
      transform: rotate(-90deg);
      font-size: 18px;
      top: 97px;
      left: -97px;
      width: 200px;
      height: 0;
      white-space: nowrap;
      text-align: right;
    }

    &-title {
      font-size: 40px;
      line-height: 36px;
      font-weight: 800;
      padding-left: 40px;
      position: relative;

      .holder-picing__span {
        line-height: 36px;
        text-align: right;
        letter-spacing: 5.25px;
        opacity: 0.75;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        bottom: -26px;
        right: 0;
      }
    }
  }
}





