.shop {
  background-image: url(../img/shop-bg.png);
  background-repeat: no-repeat;
  background-position: right center;

  .slider-arrows {
    opacity: 0.25;
  }
}

.shop__slider {
  
  @include xlm-min {
    padding-left: 132px;
  }
  @include xlm {
    padding-left: 20px;
  }

  &-inner {
    @include xlm-min {
      display: flex;
    }
    @include xlm {
      display: block;
    }
  }

  &-info {
    max-width: 100%;
    margin-right: 40px;
    width: 100%;
    @include xlm-min {
      padding-top: 150px;
    }
    @include xlm {
      padding-top: 55px;
      padding-bottom: 50px;
    }
  }
}

.descr__head-shop {
  max-width: 340px;
  margin-bottom: 47px
}

.shop__star-list {
  margin-left: 19px;
}

.shop__slider-price {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;

  @include xl-xlm {
    margin-bottom: 30px;
  }
  sup {
    font-size: 18px;
  }
}

.shop__slider-btn {
  margin-top: 64px;
}

.shop__slider-content {
  display: flex;
  align-items: flex-end;

  @include xl-min {
    padding-left: 170px;
  }
  @include xl {
    padding-left: 40px;
  }
  @media (max-width: 680px) {
    display: block;
  }

  @include xs {
    padding-left: 0;
  }
}

.shop__extras {
  @include md-min {
    padding-left: 150px;
  }
  @include md {
    padding-left: 75px;
  }
  @media (max-width: 680px) {
    padding-left: 0;
    padding-top: 35px;
  }

  &-inner {
    display: flex;
  }

  &-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  &-box {
    text-align: center;
    @include xs-min {
      margin-right: 57px;
    }
    @include xs {
      margin-right: 30px;
    }
  }

  &-image {
    min-height: 105px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    justify-content: center;
  }

  &-name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
    margin-bottom: 16px;
  }

  &-price {
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
  }

}

.surfboard {
  position: relative;

  &-box {
    position: absolute;

    &__content {
      display: none;
      position: absolute;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      @include md-min {
        width: 359px;
        padding-left: 104px;
        top: -15px;
        left: 40px;
      }
      @include md {
        width: 270px;
        padding-left: 0px;
        top: 35px;
        left: 0;
      }

      &::before {
        @include md-min {
          content: "";
          position: absolute;
          width: 80px;
          height: 1px;
          background-color: #ffffff;
          left: 0;
          top: 50%;
        }

        @include md {
          display: none;
        }
      }
    }
  }
}

.circle-row {
  background-color: $green;
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  & + .circle-row {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.surfboard-box__circle.active + .surfboard-box__content {
  display: block;
}

.surfboard__position--1 {
  right: 40px;
  top: 215px;
  @media (max-width: 680px) {
    left: 155px;
    top: 215px;
  }
  @include xs {
    left: 195px;
    top: 215px;
  }
  .surfboard-box__content {
    @include md {
      left: -177px;
    }
  }
}
.surfboard__position--2 {
  @include xs-min {
    left: -6px;
    top: 313px;
  }
  @include xs {
    left: 3px;
    top: 313px;
  }
}
.surfboard__position--3 {
  bottom: 70px;
  left: 52px;

  .surfboard-box__content {
    padding-left: 0;
    padding-right: 104px;
    top: -15px;
    @include xlm-min {
      left: -400px;
    }
    @include xlm {
      left: 60px;
    }
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      background-color: #ffffff;
      top: 50%;
      @include xlm-min {
        width: 80px;
        left: auto;
        right: 0;
      }
      @include xlm {
        width: 20px;
        left: -32px;
        right: auto;
      }
    }
  }
}
.surfboard-box__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #ffffff;
  cursor: pointer;
  &.active {
    .circle-row {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}
